In [1]:
#Load the libraries
import pandas as pd #To work with dataset
import numpy as np #Math library
import seaborn as sns #Graph library that use matplot in background
import matplotlib.pyplot as plt #matplotlib for plotting

In [2]:
# Importing the data
data = pd.read_csv("loan.csv")
data.head()

C:\Users\user\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (47) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [3]:
# Checking type of columns, shape, missing value etc.
print(data.describe())

                 id     member_id     loan_amnt   funded_amnt  \
count  3.971700e+04  3.971700e+04  39717.000000  39717.000000
mean   6.831319e+05  8.504636e+05  11219.443815  10947.713196
std    2.106941e+05  2.656783e+05   7456.670694   7187.238670
min    5.473400e+04  7.069900e+04    500.000000    500.000000
25%    5.162210e+05  6.667800e+05   5500.000000   5400.000000
50%    6.656650e+05  8.508120e+05  10000.000000   9600.000000
75%    8.377550e+05  1.047339e+06  15000.000000  15000.000000
max    1.077501e+06  1.314167e+06  35000.000000  35000.000000

       funded_amnt_inv   installment    annual_inc           dti  \
count     39717.000000  39717.000000  3.971700e+04  39717.000000
mean      10397.448868    324.561922  6.896893e+04     13.315130
std        7128.450439    208.874874  6.379377e+04      6.678594
min           0.000000     15.690000  4.000000e+03      0.000000
25%        5000.000000    167.020000  4.040400e+04      8.170000
50%        8975.000000    280.220000  5.900000e+04     13.400000
75%       14400.000000    430.780000  8.230000e+04     18.600000
max       35000.000000   1305.190000  6.000000e+06     29.990000

        delinq_2yrs  inq_last_6mths  ...  num_tl_90g_dpd_24m  \
count  39717.000000    39717.000000  ...                 0.0
mean       0.146512        0.869200  ...                 NaN
std        0.491812        1.070219  ...                 NaN
min        0.000000        0.000000  ...                 NaN
25%        0.000000        0.000000  ...                 NaN
50%        0.000000        1.000000  ...                 NaN
75%        0.000000        1.000000  ...                 NaN
max       11.000000        8.000000  ...                 NaN

       num_tl_op_past_12m  pct_tl_nvr_dlq  percent_bc_gt_75  \
count                 0.0             0.0               0.0
mean                  NaN             NaN               NaN
std                   NaN             NaN               NaN
min                   NaN             NaN               NaN
25%                   NaN             NaN               NaN
50%                   NaN             NaN               NaN
75%                   NaN             NaN               NaN
max                   NaN             NaN               NaN

       pub_rec_bankruptcies  tax_liens  tot_hi_cred_lim  total_bal_ex_mort  \
count          39020.000000    39678.0              0.0                0.0
mean               0.043260        0.0              NaN                NaN
std                0.204324        0.0              NaN                NaN
min                0.000000        0.0              NaN                NaN
25%                0.000000        0.0              NaN                NaN
50%                0.000000        0.0              NaN                NaN
75%                0.000000        0.0              NaN                NaN
max                2.000000        0.0              NaN                NaN

       total_bc_limit  total_il_high_credit_limit
count             0.0                         0.0
mean              NaN                         NaN
std               NaN                         NaN
min               NaN                         NaN
25%               NaN                         NaN
50%               NaN                         NaN
75%               NaN                         NaN
max               NaN                         NaN

[8 rows x 87 columns]

In [4]:
# Checking shape of data before manipulation
data.shape

(39717, 111)

In [5]:
# Some columns seems to have all NA values
data.columns[data.isna().all()]

Index(['mths_since_last_major_derog', 'annual_inc_joint', 'dti_joint',
       'verification_status_joint', 'tot_coll_amt', 'tot_cur_bal',
       'open_acc_6m', 'open_il_6m', 'open_il_12m', 'open_il_24m',
       'mths_since_rcnt_il', 'total_bal_il', 'il_util', 'open_rv_12m',
       'open_rv_24m', 'max_bal_bc', 'all_util', 'total_rev_hi_lim', 'inq_fi',
       'total_cu_tl', 'inq_last_12m', 'acc_open_past_24mths', 'avg_cur_bal',
       'bc_open_to_buy', 'bc_util', 'mo_sin_old_il_acct',
       'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl',
       'mort_acc', 'mths_since_recent_bc', 'mths_since_recent_bc_dlq',
       'mths_since_recent_inq', 'mths_since_recent_revol_delinq',
       'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl',
       'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl',
       'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_tl_120dpd_2m',
       'num_tl_30dpd', 'num_tl_90g_dpd_24m', 'num_tl_op_past_12m',
       'pct_tl_nvr_dlq', 'percent_bc_gt_75', 'tot_hi_cred_lim',
       'total_bal_ex_mort', 'total_bc_limit', 'total_il_high_credit_limit'],
      dtype='object')

In [6]:
# Columns with all NA values cannot possibly contribute in any way in analysis, hence dropping them
data = data.dropna(axis=1, how="all")

In [7]:
# Shape of data after dropping columns with all NA
data.shape

(39717, 57)

In [8]:
# Still a lot of columns, how to find which columns are best suited for analysis
print(data.describe())

                 id     member_id     loan_amnt   funded_amnt  \
count  3.971700e+04  3.971700e+04  39717.000000  39717.000000
mean   6.831319e+05  8.504636e+05  11219.443815  10947.713196
std    2.106941e+05  2.656783e+05   7456.670694   7187.238670
min    5.473400e+04  7.069900e+04    500.000000    500.000000
25%    5.162210e+05  6.667800e+05   5500.000000   5400.000000
50%    6.656650e+05  8.508120e+05  10000.000000   9600.000000
75%    8.377550e+05  1.047339e+06  15000.000000  15000.000000
max    1.077501e+06  1.314167e+06  35000.000000  35000.000000

       funded_amnt_inv   installment    annual_inc           dti  \
count     39717.000000  39717.000000  3.971700e+04  39717.000000
mean      10397.448868    324.561922  6.896893e+04     13.315130
std        7128.450439    208.874874  6.379377e+04      6.678594
min           0.000000     15.690000  4.000000e+03      0.000000
25%        5000.000000    167.020000  4.040400e+04      8.170000
50%        8975.000000    280.220000  5.900000e+04     13.400000
75%       14400.000000    430.780000  8.230000e+04     18.600000
max       35000.000000   1305.190000  6.000000e+06     29.990000

        delinq_2yrs  inq_last_6mths  ...    recoveries  \
count  39717.000000    39717.000000  ...  39717.000000
mean       0.146512        0.869200  ...     95.221624
std        0.491812        1.070219  ...    688.744771
min        0.000000        0.000000  ...      0.000000
25%        0.000000        0.000000  ...      0.000000
50%        0.000000        1.000000  ...      0.000000
75%        0.000000        1.000000  ...      0.000000
max       11.000000        8.000000  ...  29623.350000

       collection_recovery_fee  last_pymnt_amnt  collections_12_mths_ex_med  \
count             39717.000000     39717.000000                     39661.0
mean                 12.406112      2678.826162                         0.0
std                 148.671593      4447.136012                         0.0
min                   0.000000         0.000000                         0.0
25%                   0.000000       218.680000                         0.0
50%                   0.000000       546.140000                         0.0
75%                   0.000000      3293.160000                         0.0
max                7002.190000     36115.200000                         0.0

       policy_code  acc_now_delinq  chargeoff_within_12_mths  delinq_amnt  \
count      39717.0         39717.0                   39661.0      39717.0
mean           1.0             0.0                       0.0          0.0
std            0.0             0.0                       0.0          0.0
min            1.0             0.0                       0.0          0.0
25%            1.0             0.0                       0.0          0.0
50%            1.0             0.0                       0.0          0.0
75%            1.0             0.0                       0.0          0.0
max            1.0             0.0                       0.0          0.0

       pub_rec_bankruptcies  tax_liens
count          39020.000000    39678.0
mean               0.043260        0.0
std                0.204324        0.0
min                0.000000        0.0
25%                0.000000        0.0
50%                0.000000        0.0
75%                0.000000        0.0
max                2.000000        0.0

[8 rows x 33 columns]

In [9]:
# Some columns seem to have all zeros, find list of columns with mean 0
lst = data.mean() > 0
lst

C:\Users\user\AppData\Local\Temp/ipykernel_16912/4245716655.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  lst = data.mean() > 0

id                             True
member_id                      True
loan_amnt                      True
funded_amnt                    True
funded_amnt_inv                True
installment                    True
annual_inc                     True
dti                            True
delinq_2yrs                    True
inq_last_6mths                 True
mths_since_last_delinq         True
mths_since_last_record         True
open_acc                       True
pub_rec                        True
revol_bal                      True
total_acc                      True
out_prncp                      True
out_prncp_inv                  True
total_pymnt                    True
total_pymnt_inv                True
total_rec_prncp                True
total_rec_int                  True
total_rec_late_fee             True
recoveries                     True
collection_recovery_fee        True
last_pymnt_amnt                True
collections_12_mths_ex_med    False
policy_code                    True
acc_now_delinq                False
chargeoff_within_12_mths      False
delinq_amnt                   False
pub_rec_bankruptcies           True
tax_liens                     False
dtype: bool

In [10]:
#drop columns with mean 0
data.drop(labels=lst[lst==False].index.tolist(), inplace=True, axis=1)

In [13]:
#Dropping url column, not needed for EDA, Loan id is available in separate column
data.drop(labels=["url"], inplace=True, axis=1)
data.shape

(39717, 51)

In [14]:
# Checking columns after removing all NA and 0 columns
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 51 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       39717 non-null  int64
 1   member_id                39717 non-null  int64
 2   loan_amnt                39717 non-null  int64
 3   funded_amnt              39717 non-null  int64
 4   funded_amnt_inv          39717 non-null  float64
 5   term                     39717 non-null  object
 6   int_rate                 39717 non-null  object
 7   installment              39717 non-null  float64
 8   grade                    39717 non-null  object
 9   sub_grade                39717 non-null  object
 10  emp_title                37258 non-null  object
 11  emp_length               38642 non-null  object
 12  home_ownership           39717 non-null  object
 13  annual_inc               39717 non-null  float64
 14  verification_status      39717 non-null  object
 15  issue_d                  39717 non-null  object
 16  loan_status              39717 non-null  object
 17  pymnt_plan               39717 non-null  object
 18  desc                     26777 non-null  object
 19  purpose                  39717 non-null  object
 20  title                    39706 non-null  object
 21  zip_code                 39717 non-null  object
 22  addr_state               39717 non-null  object
 23  dti                      39717 non-null  float64
 24  delinq_2yrs              39717 non-null  int64
 25  earliest_cr_line         39717 non-null  object
 26  inq_last_6mths           39717 non-null  int64
 27  mths_since_last_delinq   14035 non-null  float64
 28  mths_since_last_record   2786 non-null   float64
 29  open_acc                 39717 non-null  int64
 30  pub_rec                  39717 non-null  int64
 31  revol_bal                39717 non-null  int64
 32  revol_util               39667 non-null  object
 33  total_acc                39717 non-null  int64
 34  initial_list_status      39717 non-null  object
 35  out_prncp                39717 non-null  float64
 36  out_prncp_inv            39717 non-null  float64
 37  total_pymnt              39717 non-null  float64
 38  total_pymnt_inv          39717 non-null  float64
 39  total_rec_prncp          39717 non-null  float64
 40  total_rec_int            39717 non-null  float64
 41  total_rec_late_fee       39717 non-null  float64
 42  recoveries               39717 non-null  float64
 43  collection_recovery_fee  39717 non-null  float64
 44  last_pymnt_d             39646 non-null  object
 45  last_pymnt_amnt          39717 non-null  float64
 46  next_pymnt_d             1140 non-null   object
 47  last_credit_pull_d       39715 non-null  object
 48  policy_code              39717 non-null  int64
 49  application_type         39717 non-null  object
 50  pub_rec_bankruptcies     39020 non-null  float64
dtypes: float64(17), int64(11), object(23)
memory usage: 15.5+ MB

In [15]:
# Cheking loan_status column
data.loan_status.value_counts()

Fully Paid     32950
Charged Off     5627
Current         1140
Name: loan_status, dtype: int64

In [ ]:
# loan_status : Charged Off - Defaulter, Fully Paid/Current - Not Defaulter